body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no no-repeat;
    height: 300px;
    opacity: 4;
}
.contain{
    width:100%;
    height: 100%;
    font-size: 29px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3;

}
